.text-chronos{
    color: #97c93e !important;
}
.btn-chronos {
    background-color: #97c93e;
    color: white;
}
.btn-chronos:hover{
    background-color: #739630;
    color: white !important;
}

#header img {
    width: 60px;
}

#main .carousel-inner img {
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);
   

}

#carousel{
    position: relative;
}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#carousel .overlay.container,
#carousel .overlay.row{
    height: 100%;

}
#place-time{
    background-color: #212529;
    color: white;
}
#place-time img{
    max-width: 100%;
}

#footer{
    background: #03091e
}

#footer a {
    color: white;
}
